body {
  display: flex;
  background-image: url('');
}
.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.login-form h2 {
  margin-top: 0;
}

.login-form label {
  display: block;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5); /* màu trắng trong suốt */
  opacity: 0.5; /* độ trong suốt */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

#error-message {
  color: red;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
